@model BloodDonationUI.Models.DonationDetailsViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Bejegyzés törlése</h3>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSuccessful)
        </dt>

        <dd>
            @HttpUtility.HtmlDecode(Model.IsSuccessful)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    <div class="modal-footer">

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-default" data-dismiss="modal">Vissza</button>
            <input class="btn btn-danger" type="submit" value="Törlés" />
        </div>
    </div>

}

