@model BloodDonationUI.Models.DonationShowFilterViewModel

@{
    ViewBag.Title = "Véradási napló";
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="row form-group">
    <div class="col-md-10 col-md-offset-2">
        @Html.ActionLink("Új véradás felvétele", "Create", "Donation", null, new { data_modal = "", @class = "btn btn-success" })
    </div>
</div>
<hr />

@using (Ajax.BeginForm("Index_DonationLogTable_Post", null, new AjaxOptions { UpdateTargetId = "DonationLogTable", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.MinDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MinDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MinDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaxDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaxDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DonationCenter, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DonationCenter, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DonationCenter, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsSuccessful, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IsSuccessful, new SelectList(new List<SelectListItem> {
                    new SelectListItem{Selected = true, Text = "Mind", Value = null },
                    new SelectListItem{Selected = false, Text = "Igen", Value = "true" },
                    new SelectListItem{Selected = false, Text = "Nem", Value = "false" },
                }, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsSuccessful, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsNextDatePassed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IsNextDatePassed, new SelectList(new List<SelectListItem> {
                    new SelectListItem{Selected = true, Text = "Mind", Value = null },
                    new SelectListItem{Selected = false, Text = "Igen", Value = "true" },
                    new SelectListItem{Selected = false, Text = "Nem", Value = "false" },
                }, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsNextDatePassed, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <input type="submit" value="Szűrés" class="btn btn-primary" />
        </div>
    </div>
}
<div id="DonationLogTable">
    @Html.Action("Index_DonationLogTable")
</div>

<!-- modal placeholder for Details/Edit/Delete-->
<div id='DonationLogModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='DonationLogModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/scripts/appjs/Donation_Modals.js")
}
